<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Calendario de Actividades</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Contenido del calendario -->
      <p style="text-align: center;">Contenido del calendario aquí.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
